/* column-drop.css */
.content-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

header {
  margin-top: 80px;
  text-align: left;
}

.box {
  width: 100%;
  height: 200px;
  text-align: center;
  padding: 20px;
  color: #fff;
}

.blue {
  background-color: #3498db;
}

.green {
  background-color: #2ecc71;
}

.orange {
  background-color: #f39c12;
}

@media screen and (min-width: 500px) {
  .blue {
    width: 25%;
  }

  .green {
    width: 75%;
  }
}

@media screen and (min-width: 680px) {
  .content-box {
    width: 680px;
    margin: 0 auto;
  }

  .green {
    width: 50%;
  }

  .orange {
    width: 25%;
  }
}

@media screen and (min-width: 680px) {
  .content-box {
    width: 100%;
    margin: 0 auto;
  }

  .green {
    width: 50%;
  }

  .orange {
    width: 25%;
  }
}