/* shifter.css */

header {
  margin-top: 80px;
  text-align: left;
}

.container-shifter {
  display: flex;
  flex-wrap: wrap;
}

.content-box {
  width: 50%;
}

.box {
  flex: 1 1 200px;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.box1 {
  background-color: #3498db;
}

.box2 {
  background-color: #2ecc71;
}

.box3 {
  background-color: #e74c3c;
}

.box4 {
  background-color: #f39c12;
}

@media (max-width: 600px) {
  .box {
    flex: 1 0 100%;
  }

  .box3 {
    order: 3;
  }

  .content-box {
    width: 100%;
  }
}